@font-face {
    font-family:specialElite ;
    src: url(img/SpecialElite-Regular.ttf);
}
*{font-family: specialElite;

}

body{
    background-color: black;
    color:beige
}
.title{ 
    margin-left: 40px;
    margin-bottom: 40px;
}


#logo{
    height: 80px;
    width:80px;
    border-radius: 45px;
}
 #headtag{
display: flex;
background-color: crimson;
font-style: italic;
text-decoration: none;

}
.list{
    display: flex;
    text-align: end;
    justify-content: end;
    ju
}
.life{ 
    color: brown;
    
}




.education{
    color: brown;
}
#goals{
    color: brown;
}
#contacts{
    display: flex;
    justify-content: center;
    color: tomato;
    
}
.final{
    justify-content: end;
    display: flex;

}
#theleg{
    color: tomato;
}

    
